.babel-cache/
node_modules/
.idea/
.env
config.json
site/
notes.md
package-lock.json

# ONLY FOR DOCS BRANCH, ignore the server and build directories
/server/
/server-dist/
/dist/
/www/
/paper_env/

# Ignore all files in the uploads directories
**/uploads/*

# exception to the rule
!**/uploads/.gitkeep