.babel-cache/
node_modules/
.idea/
.env
site/
notes.md
package-lock.json

# Ignore all files in the uploads directories
**/uploads/*

# exception to the rule
!**/uploads/.gitkeep

# Ignore all files in the saved data directories
**/server/data/*