@value baseButtonColor: rgb(89, 93, 94);

@value pressedButtonColor: rgb(54,56,57);

@value buttonBorderColor: transparent;

@value focusHighlightColor: #6C8EAC;

/*background color for the page*/
@value backgroundColor: #2E4152;

@value textColor: #bdcbda;

@value borderColor: #6C8EAC;

@value padding: 10px;

:local(.container ) {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  height: 100vh;
}

:local(.row) {
  display: flex;
  flex-direction: column;
  column-gap: 20px;
  flex: 1;
}

:local( .chatRow ) {
  flex: 3;
}

:local(.controlsRow ) {
  flex: 1;

  /*because this row will contain columns of controls*/
  display: flex;
  flex-direction: row;
  gap: 10px;
}

:local(.controlsColumn ) {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

/*applied to many panels in the board page*/
:local(.panelClass) {
  border-color: borderColor;
  border-style: solid;
  color: textColor;
  padding: 10px;
  height: 100vh;
  overflow: auto;
}

:local(.inputElement ) {
  padding-top: padding;
}

/* Container for chat components, aligning them in a column and taking up full space (regardless of contents) */
:local(.chatForm) {
  display: flex;
  flex-direction: column;
  height: 100%; /* Set the height of the parent container */
}

/* So that the chat input is at the bottom of the chat form */
:local(.chatInput) {
  margin-top: auto;
}

/* So that the chat output is above with a scrollbar */
:local(.chatOutput) {
  height: 85%;
  overflow: auto;
}

/* Custom styling for list group items */
:local(.listGroupItem ) {
  background-color: backgroundColor;
  color: textColor;
}

:local(.meChatItem) {
  background-color: backgroundColor;
  color: textColor;
}

:local(.botChatItem) {
  background-color: #212f3a;
  color: textColor;
}

/* Apply colors to the bootstrap icons */
:local(.chatIcon ) {
  scale: 1.5;
  padding: padding;
}

:local(.chatMessage) {
}

:local(.iconWithMessage ) {
  display: flex;
  justify-content: flex-start;
  /*align-content: flex-end;*/
  gap: padding;
}

input[type='range']::-webkit-slider-thumb {
  background: borderColor !important;
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  background: borderColor !important;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
  background: borderColor !important;
}

