@value cameraMainPadding: 20px;
@value commonMargin: 10px;
@value cameraMainSidebarWidth: 330px;
@value backgroundColor: #2E4152;

:local(.root) {
  display: flex;
  flex-direction: column;
  background-color: backgroundColor;
}

:local(.appRoot) {
  display: flex;
  flex-direction: column;
}

:local(.pageTitle) {
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content: space-between;
}

:local(.mainView) {
  display: flex;
  flex-direction: row;
}

:local(.videoAndEditorContainer) {
  display: flex;
  flex-direction: column;
  margin-left: commonMargin;
  margin-right: commonMargin;
}

:local(.containerWithBackground) {
  background: #6C8EAC;
  border-radius: 6px;
}

:local(.video) {
  margin: commonMargin;
}

:local(.editor) {
  height: 800px;
  margin: commonMargin;
}

:local(.editorTitleBar) {
  margin: commonMargin;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

:local(.iconButtonSpan) {
  display: flex;
  gap: 5px;
}

:local(.dialog) {
  color: white;
}

:local(.createProgramContent) {
  background: backgroundColor;
}

:local(.createProgramDialog) {
  min-width: 90%;
  padding: 0;
}

.btn-close {
  fill: rgba(255,255,255,0.5);
}

:local(.note) {
  font-size: 0.9em;
}

:local(.sidebar) {
  flex: 1 1 cameraMainSidebarWidth;
  color: white;
  font: 16px sans-serif;
  font-weight: 300;
  height: 95vh;
  padding-right: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
  transition: opacity 1s;
}

:local(.sidebar) h1,
:local(.sidebar) h2,
:local(.sidebar) h3,
:local(.sidebar) h4,
:local(.sidebar) h5,
:local(.sidebar) h6 {
  margin: commonMargin 0;
}

:local(.sidebar) a {
  color: white;
}

:local(.sidebar) button {
  font-size: 15px;
  margin: 5px 0;
  padding: 5px;
}

:local(.sidebarSection) {
  position: relative;
}

:local(.sidebarSection:not(:last-child)) {
  margin-bottom: commonMargin;
  border-bottom: 1px #999 solid;
  padding-bottom: commonMargin;
}

:local(.sidebarSection2) {
  display: flex;
  flex-direction: column;
}

:local(.sidebar) a,
:local(.sidebar) a:visited {
  color: skyblue;
}

:local(.sidebar) a:hover {
  color: white;
}

:local(.sidebar) label {
  margin: 0 5px;
}

:local(.sidebarSubSection) {
  position: relative;
  margin-bottom: calc(cameraMainPadding / 4);
}

:local(.sidebarHorizGroup) {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

:local(.headerWithOption) {
  display: inline-block;
  margin-right: 20px;
}

:local(.optionWithHeader) {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 10px;
}

:local(.create) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

:local(.create) > {
  height: 100%;
}

:local(.programList) {
  border: 1px black solid;
  padding: 5px;
}

:local(.programListItem) {
  width: 100%;
  margin-bottom: calc(cameraMainPadding / 4);
  cursor: pointer;
}

:local(.programListItem):nth-child(even) {
  background: #555;
}

:local(.programListItem):hover {
  background: #99e;
}

:local(.selectedProgramListItem) {
  width: 100%;
  margin-bottom: calc(cameraMainPadding / 4);
  cursor: pointer;
  background: #7171E5;
}

:local(.programListItemContent) {
  width: 75%;
  display: inline-block;
}

:local(.programListItemToggle) {
  visibility: hidden;
  cursor: pointer;
}

:local(.programListItem):hover :local(.programListItemToggle) {
  visibility: visible;
}

:local(.programListItemToggle):hover {
  background: #999;
}

:local(.programListIcon) {
  display: inline-block;
  padding: 0 3px;
  margin-left: 10px;
  margin-right: 3px;
  text-align: center;
}

:local(.programListIcon):hover {
  background: #444;
}

:local(.colorListItem) {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 25px;
  margin-right: 10px;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  cursor: pointer;
}

:local(.colorListItem):hover {
  box-shadow: 0 0 0 25px rgba(255, 255, 255, 0.3) inset;
}

:local(.colorListItemSelected) {
  box-shadow: 0 0 0 3px white;
}

:local(.colorListItemSelected):hover {
  box-shadow: 0 0 0 3px white, 0 0 0 25px rgba(255, 255, 255, 0.3) inset;
}

:local(.calibrationColorList) {
  margin: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

:local(.markerList) {
  display: flex;
  flex-direction: column;
}

:local(.markerListItem) {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

:local(.markerPreviewIcon) {
  padding: 8px;
  margin-left: 10px;
  margin-right: 3px;
  text-align: center;
}

:local(.markerPreviewIcon):hover {
  background: #444;
}

:local(.spaceUrl) {
  margin-bottom: calc(cameraMainPadding / 4);
  font-size: 0.9em;
}

:local(.spaceNameInput) {
  width: 100%;
  margin-bottom: calc(cameraMainPadding / 4);
}

:local(.editorAnchor) {
  font-size: 16px;
  text-align: center;
  border-style: double;
  border-radius: 3px;
}

:local(.saveAlert ) {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/*bootstrap*/

.btn.btn-primary[disabled] {
  background-color: #aaa;
  border-color: #888;
}

.form-select {
  padding: .1rem 2.25rem .1rem .5rem;
}

.accordion{
  --bs-accordion-border-width: 0
}

.accordion-button{
  border-radius: 5px;
  background-color: #6C8EAC;
}

.accordion-button:not(.collapsed){
  background-color: #6C8EAC;
  color: white
}

.accordion-body{
  padding: 5px;
}

.accordion-item{
  color: white;
  background-color: #405B72;
}
