/*Dimensions of the scenery display*/
@value displayWidth: 640px;

@value displayHeight: 500px;

@value baseButtonColor: rgb(89, 93, 94);
@value pressedButtonColor: rgb(54,56,57);
@value buttonBorderColor: transparent;

@value focusHighlightColor: #6C8EAC;

/*background color for the page*/
@value backgroundColor: #2E4152;

@value textColor: #bdcbda;


/* The flex parent for the three columns of the board page */
:local(.rowContainer) {
  display: flex;
  flex-direction: row;

  /*so that contents are centered within extra spacing added by flex*/
  align-content: center;
  column-gap: 10px
}

/*An (empty) item in the row so that the scenery display is centered*/
:local(.rowSpacer) {
  flex: 1;
}

/*Column containing the scenery Display (and possibly the editor)*/
:local(.displayColumn) {

  /*so that this column is centered horizontally under rowContainer*/
  /*flex-grow: 2;*/
  flex: 1;

  /*This component is a column with child contents*/
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

/* Styling for the sim display */
:local(.displayPanel) {
  /*width: displayWidth;*/
  /*height: displayHeight;*/
}

/*applied to many panels in the board page*/
:local(.panelClass) {
  border-color: #6C8EAC;
  border-style: solid;
  color: textColor;
  padding: 10px;
  height: 100vh;
  overflow: auto;
}

:local(.editor) {
  height: 400px;
}

:local(.controlElement) {
  padding: 10px;
}

/*Override the default focus highlight styling for bootstrap to match our color scheme*/
:local(.for-control:focus) {
  border-color: #6C8EAC;
  box-shadow: 0 0 0 0.1rem #6C8EAC;
}

/*Override default for bootstrap tabs*/
/*active tab*/
.nav.nav-tabs .nav-link.active {
  background-color: rgb(89, 93, 94);
  color: rgb(189, 203, 218);
}

/*inactive tabs*/
.nav.nav-tabs .nav-link {
  /*background-color: white;*/
  color: rgb(189, 203, 218);
}

.nav.nav-tabs .nav-link:hover {
  background-color: rgb(122, 125, 126);
  color: rgb(189, 203, 218);
}

/* Override default for bootstrap pill tabs*/
.nav.nav-pill .nav-link.active {
  background-color: rgb(89, 93, 94);
  color: rgb(189, 203, 218);
}

/*inactive tabs*/
.nav.nav-pill .nav-link {
  background-color: transparent;
  color: rgb(189, 203, 218);
}

.nav.nav-pill .nav-link:hover {
  background-color: rgb(122, 125, 126);
  color: rgb(189, 203, 218);
}

:local(.inlineBlock) {
  display: inline-block;
}

/*Custom button styling for this app */
:local(.customButton) {
  background-color: rgb(89, 93, 94);
  color: rgb(189, 203, 218);
  border-color: transparent;
}

:local(.customButton:hover) {
  background-color: rgb(122, 125, 126);
  color: rgb(189, 203, 218);
  border-color: transparent;
}

:local(.customButton:focus) {
  border-color: #6C8EAC;
  box-shadow: 0 0 0 0.1rem #6C8EAC;
}

:local(.customButton:active) {
  background-color: pressedButtonColor !important;
  color: rgb(189, 203, 218) !important;
  border-color: buttonBorderColor !important;
}

:local(.customButton:disabled) {
  background-color: rgb(60, 60, 60);
  color: rgb(189, 203, 218);
  border-color: black;
}

/*Styling for toggles (radio, checkbox, toggle)*/
.form-check-input:checked {
  background-color: focusHighlightColor;
  border-color: focusHighlightColor;
}

/*Styling for focus of form controls*/
.form-control:focus {
  border-color: #6C8EAC;
  box-shadow: 0 0 0 0.1rem #6C8EAC;
}


:local(.floatingDelete ) {
  float: right;
}

:local(.deleteButtonIcon ) {
  scale: 2;
}

:local(.listGroupItem ) {
  background-color: backgroundColor;
  color: textColor;
}